body {
    background-color: black;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    color: yellow;
    margin: 0 auto;
}


.main-text {
    color: yellow;
    
}

.text {
    width: 800px;
    margin: 0 auto;
    animation: wars infinite ;
    animation-duration: 20s;
}

@keyframes wars {
    0% {
        transform: perspective(100px) rotateX(20deg) translateY(500px);
    }

    100% {
        transform: perspective(100px) rotateX(20deg) translateY(-250px);
    }
}